/* Set base font size for mobile devices */
html {
    font-size: 75%;
}

/* Remove margins from body */
.body {
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

.albumSection {
    width: 100%;
    background-color: lightgoldenrodyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 13vh;
    /* Offset the footer */
}

.albumSection h {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(69, 69, 69);
}

/* Button attributes */
.buttons {
    margin-right: 20px;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(69, 69, 69);
}

.buttons span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttons span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttons:hover span {
    padding-right: 25px;
}

.buttons:hover span:after {
    opacity: 1;
    right: 0;
}

#album,
.albumSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

@media screen and (max-width: 767px) {
    .albumSection h {
        font-size: 2rem;
    }
}

/* For larger screens (768px or wider) */
@media screen and (min-width: 768px) {
    .albumSection h {
        font-size: 4rem;
    }
}

.imageCaption {
    color: #bd162c;
}

.imageCard img {
    height: 32.5rem;
    width: 32.5rem;
    border-radius: 1.25rem;
    object-fit: cover;
}

.imageCard {
    display: inline-block;
    background-color: lightsteelblue;
    text-align: center;
    height: 39rem;
    width: 32.5rem;
    overflow: hidden;
    margin: 1rem;
    border-radius: 2.5rem;

    --g: 4px;
    /* the gap */
    --b: 12px;
    /* border thickness*/
    --c: #669706;
    /* the color */


    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
    background:
        var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
        var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b), var(--b) 200%;
    cursor: pointer;
    filter: grayscale(70%);
    cursor: grab;

    transition: 0.5s;
}

.imageCard * {
    pointer-events: none;
}

.hovered {
    --_p: 75%;
    filter: grayscale(0%);
    scale: 1.1;
}

.sortable-ghost {
    opacity: 0.3;
}